<% provide :title, 'ユーザー一覧' %>
<div class="card">
  <div class="card-body">
    <table class="table">
      <thead>
      <tr>
        <th style="width: 10px">#</th>
        <th><%= User.human_attribute_name(:name) %></th>
        <th style="width: 100px"></th>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <%= user.id %>
          </td>
          <td>
            <%= user.name %>
          </td>
          <td>
            <%= link_to '削除', admin_user_path(user), class: 'btn btn-block btn-outline-primary', method: :delete, data: { confirm: '削除しますか？' } %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <!-- /.table -->
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
