<footer class="main-footer">
  <strong>Copyright © 2022 q_and_a_original.</strong>
  All rights reserved.
  <div class="float-right d-none d-sm-inline-block">
    <b>Version</b> 1.0.0
  </div>
</footer>